In [2]:
import pandas as pd
import numpy as np
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [3]:
company_name = ["GOOG", "AMZN", "MSFT", "AAPL"]

def sentiment_analysis(company): #gets company name
    data = pd.read_csv('./data/tweets/cleaned{}.csv'.format(company))
    data = data[data.columns[1:]]
    data['tweets'] = data[data.columns[2:]].apply(lambda x: '. '.join(x.dropna().astype(str)), axis=1)

    pos_list, neg_list = [], []
    sia = SentimentIntensityAnalyzer()
    for i in range(len(data["tweets"])):
        pos, neg = 0, 0
        for text in data["tweets"][i].split('.'):
            res = sia.polarity_scores(text)
            if res['compound'] >= 0.05:
                pos += 1
            elif res['compound'] <= - 0.05:
                neg += 1

        posneg = pos + neg if pos + neg != 0 else 1
        pos_list.append(pos / posneg)
        neg_list.append(neg / posneg)

    df = pd.DataFrame(data={'date': data.date, 'pos': pos_list, 'neg': neg_list})
    return df

In [4]:
import nltk
nltk.download('vader_lexicon')

google_rates = sentiment_analysis("GOOG")
google_rates.head(10)

[nltk_data] Downloading package vader_lexicon to C:\Users\Halil
[nltk_data]     Uzun\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

         date       pos       neg
0  2018-01-01  0.857143  0.142857
1  2018-01-02  0.666667  0.333333
2  2018-01-03  0.833333  0.166667
3  2018-01-04  0.500000  0.500000
4  2018-01-05  0.583333  0.416667
5  2018-01-06  0.875000  0.125000
6  2018-01-07  0.545455  0.454545
7  2018-01-08  0.866667  0.133333
8  2018-01-09  0.733333  0.266667
9  2018-01-10  0.400000  0.600000